{% extends 'AppBundle::layout.html.twig' %}
{% import 'AppBundle::macros.html.twig' as _ %}

{% block content %}
    <div class="row">
        <div class="column wide sixteen">
            <div class="ui steps">
                <div class="content">
                    <a href="{{ url('homepage') }}"><div class="logo logo-breadcrumb"></div></a>
                </div>
                {{ _.step(project.name, 'Project', 'icon cubes', path('project_show', {id: project.id })) }}
                {{ _.step('Master Branch', 'Branch', 'sitemap alternate icon', '') }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column wide sixteen">
            <div class="ui segment">
                <h3 class="ui header">
                    <i class="icon text file inverted circular"></i> Commits
                </h3>
                {% include 'AppBundle::commits.html.twig' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column wide sixteen">
            <div class="ui segment">
                <h3 class="ui header">
                    <i class="icon text code inverted circular"></i> Badge
                </h3>

                <div class="ui tertiary inverted segment">
                    <div class="ui top right attached label">Markdown</div>
                    <p>{{ markdown }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
