<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('build/style.css') }}" />

</head>
<body>
    <main class="ui page grid">
        {% block content %}{% endblock %}
    </main>

    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
</body>
</html>
