.cache
/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
/var/logs/*
/var/checkouts/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/checkouts/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
!bin/dev-update
/composer.phar
/assets/bower_components
/assets/node_modules
/web/css
/web/js

