{% extends 'SimpleThingsAppBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="column wide sixteen">
        <div class="ui steps">
            <a class="step" href="{{ path('homepage') }}">
                <div class="content">
                    <div class="title"> <i class="icon home"></i> Home</div>
                    <div class="description">... where the <i class="icon heart"></i> is</div>
                </div>
            </a>
            <a class="step" href="{{ path('project_show', {id: merge_request.project.id }) }}">
                <div class="content">
                    <div class="title"> <i class="icon cubes"></i> Project</div>
                    <div class="description">{{ merge_request.project.name }}</div>
                </div>
            </a>
            <a class="step active">
                <div class="content">
                    <div class="title"> <i class="share alternate icon"></i> MergeRequest</div>
                    <div class="description">{{ merge_request.name }}</div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="column wide sixteen">
        <div class="ui segment">
            <h3 class="ui header">
                <i class="icon text file inverted circular"></i> Commits
            </h3>
            {% include 'SimpleThingsAppBundle::commits.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
