{% extends 'SimpleThingsAppBundle::layout.html.twig' %}
{% import 'SimpleThingsAppBundle::macros.html.twig' as _ %}

{% block content %}
    <div class="row">
        <div class="column wide sixteen">
            <div class="ui steps">
                {{ _.step('Home', 'where the <i class="icon heart"></i> is', 'icon home', path('homepage')) }}
                {{ _.step(project.name, 'Project', 'icon cubes', path('project_show', {id: project.id })) }}
                {{ _.step('Master Branch', 'Branch', 'sitemap alternate icon', '') }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column wide sixteen">
            <div class="ui segment">
                <h3 class="ui header">
                    <i class="icon text file inverted circular"></i> Commits
                </h3>
                {% include 'SimpleThingsAppBundle::commits.html.twig' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column wide sixteen">
            <div class="ui segment">
                <h3 class="ui header">
                    <i class="icon text code inverted circular"></i> Badge
                </h3>

                <div class="ui tertiary inverted segment">
                    <div class="ui top right attached label">Markdown</div>
                    <p>{{ markdown }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
