.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui.styled.accordion {
    width: 100%;
}

body {
    margin-top: 1em;
}

.steps .step {
    max-width: 200px;
}

.line-highlight {
    padding: 0;
}

.logo {
    display: block;
    height: 48px;
    width: 48px;
    background-image: url("../img/owl.48x48.png");
}

.logo-breadcrumb {
    margin-top: 3px;
    margin-right: 1em;
}

.commit-gravatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
